@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";

$toto_color: #2697e3;

figure.code figcaption {
  border-top:1px solid #fff;
}

// .highlight {
//   border:none !important;
// }

pre {
  border-radius:0px;
}

// 去掉代码块背景色
// .highlight, .gist-highlight {background:none !important;}
// 设置代码块长度100% 和 去掉 .code 背景色
.highlight {
  background:none !important;
  border:none !important;
  table {
    width:100%;
    // .gutter {display:none;}
  }
  code {
    background:none !important;
    overflow-x:hidden !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    .c1 {
      color:#c1c8ca !important;
      font-style:normal !important;
    }
  }
  .line-numbers {
    background:none !important;
    box-shadow:none;
    width:19px;
    border-right:2px solid $toto_color !important;
    padding-top:3px !important;
    padding-bottom:3px !important;
    span {
      color:$toto_color !important;
      text-shadow:none;
    }
  }
}

.gist-hightlight {
  background:none !important;
  pre .line-numbers {
    padding-top:3px !important;
    padding-bottom:3px !important;
  }
}

html .gist .gist-file {
  // 去掉 .gist-meta 边框
  padding:0px !important;
  .gist-meta {
    background:none !important;
    border:none !important;
    a:first-child, a[href*="#file"] {display:none;};

  }
  .gist-syntax {
    background-color:none !important;
  }
}
.highight, html .gist .gist-file .gist-syntax {
  // background-color:$toto_color !important;
  .gist-highlight {
    background:none !important;
    border:none !important;
  .line-numbers {
    background:none !important;
    box-shadow:none;
    border-right:2px solid $toto_color !important;
    span {
      color:$toto_color !important;
      text-shadow:none;
    }
  }
  }
}

.pre-code, html .gist .gist-file .gist-syntax .gist-highlight pre, .highlight code {background:none !important;}

// 文章样式修改
article {
  padding:25px 20px 0px 21px !important;
  header {
    margin-bottom:15px;
    padding-top:10px !important;
    h1 {
      display:inline-block;
      color:$toto_color !important;
      font-size:30px !important;
      a {
        color :$toto_color !important;
        font-size:24px;
      }
      a:hover {color:black !important;};
    }
    p.meta {
      display:inline-block;
      position: relative;
      text-transform: none;
      float:right;
      margin:10px 20px 0 0;
      a {
        color: $toto_color !important;
      }
    }
  }
  footer {
    margin:5px 0 !important;
    padding:0 !important;
    a[rel="full-article"] {
      background:none !important;
      padding-left:0 !important;
      color:#aaa !important;
      font-size:18px !important;
      font:inherit;
    }
    a[rel="full-article"]:hover {color:$toto_color !important;};
    .sharing {padding-bottom:1em;}
    .meta a {
      font-size:16px;
      text-decoration:none;
    }
  }
  .entry-content {
    blockquote ul {font-size:18px;}
    ul {margin-left:44px !important;}
  }
}

body > nav {
  background:none !important;
  padding-left:40px;
  border-bottom:2px solid $toto_color;
  a {color:#2697e3 !important; }
  a:hover { color:black !important;}
}

body > footer {
  background:none !important;
  text-align:center;
  padding-top:2em;
  margin-bottom:1em;
  p {
    color:lightblue;
    a {color:$toto_color !important;}
  }

}

.sidebar {
  background:none !important;
  color:lightblue !important;
  margin-left:35px;
  width:232px;
}

body > header h1 a {
  color:lightblue !important;
  font-style:italic;
}

body #content > div > section {
  padding-left:25px !important;
  h1 {color:lightblue !important;}
}

#blog-archives {
  h1 {
    margin-left:50px !important;
    > a {color :$toto_color !important;}
    a:hover { color:black !important; };
  }
  h2 {color:lightblue;}
  a:hover {color:black !important;};
  footer span {
    margin-left:50px !important;
    float:right;
    margin-top:-40px;
    color:lightblue;
  }
}

#main {
  overflow:hidden;
}

#content {
  // margin-right:250px;
  article time {top:32px;color:lightblue;font-size:20px;}
}

.self {
  ul {
    list-style: none;
    margin-left: 20px;
    color: lightblue;
    font-size: 22px;
    li {
      padding-bottom: 15px;
    }
  }
}

a {
  color :$toto_color !important;
  text-decoration:none !important;
}

hr {
  margin-bottom:25px;
  width:80%;
  border:1px solid $toto_color;
}

ol {margin-left:49px;}
